<h1>アカウント登録</h1>
<%= link_to "アカウント登録", new_user_path %><br>
<%= link_to "ログイン", new_session_path %>

<%= form_with(model: @user, local: true) do |form| %>
  <div>
    <%= form.label :名前 %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :メールアドレス %>
    <%= form.text_field :email %>
  </div>
  <div>
    <%= form.label :パスワード %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.label :'パスワード(確認)' %>
    <%= form.password_field :password_confirmation %>
  </div>
  <div>
    <%= form.submit "登録" %>
  </div>
<% end %>
